#gameDiv {

    background-color: beige;
    border: 1px solid black;
    position: relative;
    margin: 0 auto; }

canvas{ position: absolute; z-index: 1 }

.overlay{
    position: absolute;
    margin: 0 auto;
    z-index: 100;
    background: red; }

#start{
  color: red;
}

html{
	overflow: hidden;
	-webkit-touch-callout: none;
	 -webkit-user-select: none;
	 -khtml-user-select: none;
	 -moz-user-select: none;
	 -ms-user-select: none;
	 user-select: none;
	 	background-color: #659bf2;
}
html, body, div, canvas {
    margin: 0;
    padding: 0;
		font-family: Arial;

}
#gameDiv {
	margin: auto;


	}

canvas{ position: absolute; z-index: 1 }

.container{
	margin: auto;
	padding-top: 10%;
}

	#chat-form{
		padding-left: 45%;
		position: absolute;
		margin: 0 auto;
		z-index: 100;
		padding-top: 15%;
		width: 10%;

	}
	#chat-text{
		bottom: 20;
		right: 20;
		position: absolute;
		margin: 0 auto;
		z-index: 2;
		overflow-y: scroll;
		height: 200px;
		width: 200px;
		background-color: rgba(0,0,0,0.5);
		padding: 10px;

	}
	#player_name {
		padding: 10px 28px;
	  outline: none;
		width: 90%;
		text-align:center;
		font-size: 1.5em;
	}
	#kills{
		font-size: 1.2em;
		bottom: 20;
		left: 20;
		position: absolute;
		margin: 0 auto;
		z-index: 2;
		height: 50px;
		width: 70px;
		background-color: rgba(0,0,0,0.5);
		padding: 10px;
	}
	#gold{
		font-size: 1.2em;
		bottom: 120;
		left: 20;
		position: absolute;
		margin: 0 auto;
		z-index: 2;
		height: 50px;
		width: 70px;
		background-color: rgba(0,0,0,0.5);
		padding: 10px;
	}
	#stone{
		font-size: 1.2em;
		bottom: 200;
		left: 20;
		position: absolute;
		margin: 0 auto;
		z-index: 2;
		height: 50px;
		width: 70px;
		background-color: rgba(0,0,0,0.5);
		padding: 10px;
	}
	#wood{
		font-size: 1.2em;
		bottom: 300;
		left: 20;
		position: absolute;
		margin: 0 auto;
		z-index: 2;
		height: 50px;
		width: 70px;
		background-color: rgba(0,0,0,0.5);
		padding: 10px;
	}
	#food{
		font-size: 1.2em;
		bottom: 400;
		left: 20;
		position: absolute;
		margin: 0 auto;
		z-index: 2;
		height: 50px;
		width: 70px;
		background-color: rgba(0,0,0,0.5);
		padding: 10px;
	}
	#world{
		font-size: 1.2em;

		left: 45%;
		position: absolute;
		margin: 0 auto;
		z-index: 2;
		height: 50px;
		width: 70px;
		background-color: rgba(0,0,0,0.5);
		padding: 10px;
	}
	button{
		width: 90%;
    border: none;
    background-color: #4CAF50;
		color: white;
    padding: 10px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
	}
#start{

			text-align: center;
			background-color: rgba(0,0,0,.5);
	    color: white;
	    padding: 30px;
	    margin: auto;
	    border: none;
	    cursor: pointer;
	    width: 20%;
	    opacity: 0.9;

}
.footer {
    position: fixed;
		margin: auto;
		padding: 10px 20px;
    bottom: 0;
    width: 95%;
    color: white;
		text-align: center;

}
a{
	text-decoration: none;
	color: white;
}
